<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>


  <link rel="stylesheet" href="/css/calendar.css">
  <title>Admin Dashboard</title>
</head>

<body class="bg-gray-500">
  <%- include('partials/header') %>

    <!-- Main Content -->
    <div class="container mx-auto p-8">
      <!-- User Profile Section -->
      <div class="flex items-center mb-8">

        <div>
          <h1 class="text-5xl text-gray-100 font-semibold mb-2">
            Welcome <%= user.firstName %>
          </h1>
          <p class="text-gray-100">
            Role: Admin <%= user.role %> | Email: <%= user.email %>
          </p>
        </div>
      </div>

      <!-- Add more sections as needed for leagues, standings, schedule, practices -->

      <div class="container mx-auto p-8">
        <!-- Dashboard content -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <!-- Leagues Box -->
          <div class="flex items-center mt-4 bg-gray-700 p-4 rounded-lg shadow-md ">
            <div class="mr-4">
              <!-- League Icon -->
              <i class="fas fa-trophy text-4xl text-yellow-500"></i>
            </div>
            <div>
              <h2 class="text-2xl text-gray-100 font-semibold mb-2">Leagues</h2>
              <p class="text-4xl font-bold text-yellow-500">
                <%= leagueCount %>
              </p>
            </div>
          </div>

          <!-- Players Box -->
          <div class="flex items-center mt-4 bg-gray-700 p-4 rounded-lg shadow-md">
            <div class="mr-4">
              <!-- Player Icon -->
              <i class="fa-solid fa-person-running text-4xl text-green-500"></i>
            </div>
            <div>
              <h2 class="text-2xl text-gray-100 font-semibold mb-2">Players</h2>
              <p class="text-4xl font-bold text-green-500">
                <%= playerCount %>
              </p>
            </div>
          </div>

          <!-- Teams Box -->
          <div class="flex items-center mt-4 bg-gray-700 p-4 rounded-lg shadow-md">
            <div class="mr-4">
              <!-- Team Icon -->
              <i class="fas fa-users text-4xl text-blue-500"></i>
            </div>
            <div>
              <h2 class="text-2xl text-gray-100 font-semibold mb-2">Teams</h2>
              <p class="text-4xl font-bold text-blue-500">
                <%= teamCount %>
              </p>
            </div>
          </div>

        </div>
      </div>
      <!-- Admin Calender -->
      <div class="p-5">
        <h2 class="mb-4">Full Calendar</h2>
        <div class="card">
          <div class="card-body p-0">
            <div id="calendar"></div>
          </div>
        </div>
      </div>

      <!-- calendar modal -->
      <div id="modal-view-event" class="modal modal-top fade calendar-modal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <h4 class="modal-title"><span class="event-icon"></span><span class="event-title"></span></h4>
              <div class="event-body"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div id="modal-view-event-add" class="modal modal-top fade calendar-modal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <form id="add-event">
              <div class="modal-body">
                <h4>Add Event Detail</h4>
                <div class="form-group">
                  <label>Event name</label>
                  <input type="text" class="form-control" name="ename">
                </div>
                <div class="form-group">
                  <label>Event Date</label>
                  <input type='text' class="datetimepicker form-control" name="edate">
                </div>
                <div class="form-group">
                  <label>Event Description</label>
                  <textarea class="form-control" name="edesc"></textarea>
                </div>
                <div class="form-group">
                  <label>Event Color</label>
                  <select class="form-control" name="ecolor">
                    <option value="fc-bg-default">fc-bg-default</option>
                    <option value="fc-bg-blue">fc-bg-blue</option>
                    <option value="fc-bg-lightgreen">fc-bg-lightgreen</option>
                    <option value="fc-bg-pinkred">fc-bg-pinkred</option>
                    <option value="fc-bg-deepskyblue">fc-bg-deepskyblue</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Event Icon</label>
                  <select class="form-control" name="eicon">
                    <option value="circle">circle</option>
                    <option value="cog">cog</option>
                    <option value="group">group</option>
                    <option value="suitcase">suitcase</option>
                    <option value="calendar">calendar</option>
                  </select>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
      

      <script src="/javascript/calendar.js"></script>
</body>

</html>