<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

  <title>Admin Dashboard</title>
</head>

<body class="bg-gray-500">
  <%- include('partials/header') %>

    <!-- Main Content -->
    <div class="container mx-auto p-8">
      <!-- User Profile Section -->
      <div class="flex items-center mb-8">

        <div>
          <h1 class="text-5xl text-gray-100 font-semibold mb-2">
            Welcome <%= user.firstName %>
          </h1>
          <p class="text-gray-100">
            Role: Admin <%= user.role %> | Email: <%= user.email %>
          </p>
        </div>
      </div>

      <!-- Add more sections as needed for leagues, standings, schedule, practices -->

      <div class="container mx-auto p-8">
        <!-- Dashboard content -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <!-- Leagues Box -->
          <div class="flex items-center mt-4 bg-gray-700 p-4 rounded-lg shadow-md ">
            <div class="mr-4">
              <!-- League Icon -->
              <i class="fas fa-trophy text-4xl text-yellow-500"></i>
            </div>
            <div>
              <h2 class="text-2xl text-gray-100 font-semibold mb-2">Leagues</h2>
              <p class="text-4xl font-bold text-yellow-500">
                <%= leagueCount %>
              </p>
            </div>
          </div>

          <!-- Players Box -->
          <div class="flex items-center mt-4 bg-gray-700 p-4 rounded-lg shadow-md">
            <div class="mr-4">
              <!-- Player Icon -->
              <i class="fa-solid fa-person-running text-4xl text-green-500"></i>
            </div>
            <div>
              <h2 class="text-2xl text-gray-100 font-semibold mb-2">Players</h2>
              <p class="text-4xl font-bold text-green-500">
                <%= playerCount %>
              </p>
            </div>
          </div>

          <!-- Teams Box -->
          <div class="flex items-center mt-4 bg-gray-700 p-4 rounded-lg shadow-md">
            <div class="mr-4">
              <!-- Team Icon -->
              <i class="fas fa-users text-4xl text-blue-500"></i>
            </div>
            <div>
              <h2 class="text-2xl text-gray-100 font-semibold mb-2">Teams</h2>
              <p class="text-4xl font-bold text-blue-500">
                <%= teamCount %>
              </p>
            </div>
          </div>

        </div>
      </div>
      <!-- Admin Calender -->
      <div class="mt-2 m-4 bg-white rounded-lg shadow-md border border-gray-300">
        <div id="calendar" class="m-5 m-4 bg-white rounded-lg ">

        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
      <script src="/javascript/calendar.js"></script>
</body>

</html>