<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Leagues</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="bg-gradient-to-r from-blue-950 via-blue-900 to-gray-500 font-sans min-h-screen">
  <%- include('partials/header') %>
  <div class="min-h-screen">
    <main class="container mx-auto mt-8">
      <div class="flex justify-end p-4 items-center space-x-2">
        <input type="text" id="search" placeholder="" class="border p-2 rounded-lg" />
        <button id="searchButton" class="bg-indigo-500 hover:bg-indigo-700 text-white font-semibold py-2 px-4 rounded">
          Search
        </button>
      </div>
      <h1 class="mb-4 text-4xl font-bold text-center mt-4 text-white"> Explore Leagues</h1>

      <!-- League Cards -->
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
  <% leagues.forEach(league => { %>
    <div class="capitalize relative bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300">
      <!-- Dynamic League Icon -->
      <% let icon = '' %>
      <% if (league.sport === 'Soccer') { icon = 'sports_soccer' } %>
      <% if (league.sport === 'Football') { icon = 'sports_football' } %>
      <% if (league.sport === 'Basketball') { icon = 'sports_basketball' } %>
      <% if (league.sport === 'Tennis') { icon = 'sports_tennis' } %>
      <% if (league.sport === 'VolleyBall') { icon = 'sports_volleyball' } %>
      <% if (league.sport === 'Baseball') { icon = 'sports_baseball' } %>
      <% if (league.sport === 'Softball') { icon = 'sports_softball' } %>
      <!-- Add more sports as needed -->

      <i class="material-icons absolute top-0 right-0 text-2xl text-blue-950 m-2">
        <%= icon %>
      </i>

      <h3 class="text-lg font-semibold text-blue-950 mb-2"><%= league.leagueName %></h3>
      <p class="text-blue-950"><%= league.sport %></p>
      <p class="text-blue-950">
        <%= league.startDate.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %> -
        <%= league.endDate.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %>
      </p>

      <!-- Actions -->
      <div class="flex justify-between mt-4">
        <form id="deleteForm_<%= league._id %>" data-id="<%= league._id %>">
          <input type="hidden" name="_method" value="DELETE" />
          <button type="submit" class="delete-button text-red-600 hover:text-red-900">
            <i class="material-icons">delete</i> Delete
          </button>
        </form>
        <a href="/leagues/<%= league._id %>/teams" class="text-indigo-600 hover:text-indigo-900">
          <i class="material-icons">group</i> View Teams
        </a>
      </div>
    </div>
  <% }); %>
</div>


      <!-- Add League Button -->
<div class="fixed bottom-10 right-0 p-6">
  <a href="/leagues/create" class="flex items-center bg-indigo-500 hover:bg-indigo-700 text-white font-semibold py-2 px-4 rounded">
      <i class="material-icons">add</i>
      <span class="ml-2">Add League</span>
  </a>
</div>


      <!-- Delete confirmation -->
      <div id="confirmationModal"
        class="hidden fixed top-0 left-0 w-full h-full flex items-center justify-center bg-gray-900 bg-opacity-75">
        <div class="modal-container bg-white w-1/2 max-w-md mx-auto rounded shadow-lg p-4">
          <h2 class="text-xl font-semibold mb-4">Confirm Deletion</h2>
          <p>Are you sure you want to delete this league?</p>
          <div class="mt-4 flex justify-end">
            <button id="cancelButton" class="mr-4 px-3 py-2 bg-gray-200 text-gray-700 font-medium rounded">
              Cancel
            </button>
            <button id="confirmButton" class="px-3 py-2 bg-red-500 text-white font-semibold rounded">
              Confirm
            </button>
          </div>
        </div>
      </div>

    </main>
  </div>
  <%- include('partials/footer') %>
  <script src="/javascript/deleteLeague.js"></script>
</body>

</html>
