<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Locations</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body class="bg-gradient-to-r from-gray-900 via-gray-700 to-gray-500">
    <%- include('partials/header') %>

        <div class="min-h-screen">
            <main class="container mx-auto mt-8">

                <div class="flex justify-end p-4 items-center space-x-2">
                    <input type="text" id="search" name="searchLocations" placeholder="location, date, league,team" class="border p-2 rounded-lg" />
                    <button id="searchButton"
                        class="bg-indigo-500 hover:bg-indigo-700 text-white font-semibold py-2 px-4 rounded">
                        Search
                    </button>
                </div>

                <div class=" mb-8">
                    <h1 class="text-3xl font-semibold text-white">League Locations</h1>
                    <p class="text-lg text-gray-300 mt-2">Browse through the locations of each league and make sure everyone shows up at the right place.</p>
                </div>

                <table
                    class="table-auto mx-auto w-full bg-white shadow-lg rounded-lg ring ring-blue-950 ring-opacity-43">
                    <thead>
                        <tr
                            class="py-4 my-4 text-left font-medium text-white tracking-wider border-b border-blue-950 bg-blue-950 rounded-t-lg">
                            <th class="px-4 py-2">League Name</th>
                            <th class="px-4 py-2">Sport</th>
                            <th class="px-4 py-2">Start Date</th>
                            <th class="px-4 py-2">End Date</th>
                            <th class="px-4 py-2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% leagues.forEach(league=> { %>
                            <tr class="capitalize hover:bg-gray-200 ">
                                <td class="capitalize px-4 py-2">
                                    <%= league.leagueName %>
                                </td>
                                <td
                                    class="px-4 py-2 text-blue-900 border-l border-gray-300 whitespace-nowrap max-w-xs overflow-ellipsis">
                                    <%= league.sport %>
                                </td>
                                <td
                                    class="px-4 py-2 text-blue-900 border-l border-gray-300 whitespace-nowrap max-w-xs overflow-ellipsis">
                                    <%= league.startDate.toLocaleDateString('en-US', { month: 'short' , day: 'numeric' ,
                                        year: 'numeric' }) %>
                                </td>
                                <td
                                    class="px-4 py-2 text-blue-900 border-l border-gray-300 whitespace-nowrap max-w-xs overflow-ellipsis">
                                    <%= league.endDate.toLocaleDateString('en-US', { month: 'short' , day: 'numeric' ,
                                        year: 'numeric' }) %>
                                </td>
                                <td
                                    class="flex items-center px-2 py-2 text-blue-900 border-l border-gray-300 whitespace-nowrap max-w-xs overflow-ellipsis pr-1">
                                    <a href="/locations/<%= league._id %>/locations"
                                        class="flex items-center text-indigo-600 hover:text-indigo-900">
                                        <span class="material-icons mr-1 text-xl">location_on</span> View Locations
                                    </a>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>


            </main>
        </div>

        <%- include('partials/footer') %>

</body>

</html>